@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Começa a contar o tamanho do elemento a partir do padding */
}

body {
  background-image: url('../images/3.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  font-size: 20px;
  font-family: 'Maven Pro', sans-serif;
}

/* Se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px){
  body {
    font-size: 14px;
  }
}

header {
  height: 100vh;    /*Utiliza toda a altura da tela*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.doodle {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  height: 40px;
  box-shadow: 20px 0 5px 5px rgba(0,0,0,20%);
  top: 0; /*Só funciona se um position estiver acionado*/
  z-index: 1;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 30px;
}

.mini-logo{
    justify-content: left;
    margin-right: 300px;
    font-size: 15px;
    font-weight: bold;
}
.secao{
  justify-content: right;
  margin-left: 5px;
}

@media (min-width: 400px){
  .menu a {
  display: block;
  padding: 10px 80px;
  }

  .menu .mini-logo{
    padding: 10px 60px;
  }
}

a {
  color: rgb(154, 150, 155);
  height: 40px;
  font-size: 18px;
  text-decoration: none;
  display:center;
}

.menu a:hover {
  background-color: rgb(68, 209, 137);
  color: #fff;
}

.menu a:active {
  background-color: rgb(94, 240, 165);
  font-size: 17px;
}

.site-title {
  font-size: 4.5em;
  text-transform: uppercase;
}

.site-subtitle,
.site-title {
  color: rgb(122, 119, 108);
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.site-subtitle {
  line-height: 35px;
}

.sobre {
  background: pink;
}

.sobre p {
  color: #333;
  text-align: justify;
  text-indent: 2em;
  margin-bottom: 1.5em;
}

.sobre a {
  color: lightpink;
}

.sobre .avatar {
  margin-left: 2em;
}

.img-avatar {
  height: 550px;
  width: 450px;
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

@media (min-width: 600px) {
  .sobre .avatar {
    float: left;
    overflow-wrap: end;
    margin-right: 10px;
  }

  .img-avatar {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 20% 100%, 0 50%, 25% 0%);
  }
}

.sobre,
.contato,
.portifolio {
  padding: 2em;
  min-height: 100vh;
  width: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre h2,
.contato h2,
.portifolio h2{
  font-family: 'Barlow', sans-serif;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2.5em;
}

.portifolio {
  background: darkorange;
}

.portifolio .grid {
  display: grid;
  grid-gap: 1em;
}

@media (min-width: 560px) {
  .portifolio .grid {
    grid-template-columns: repeat(2, 240px);
  }
}

@media (min-width: 880px) {
  .portifolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 48px - 8em);
  }
}

.portifolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  transition: transform 2s;
}

.card {
  background-color: rgb(178, 178, 178);
  border-radius: 30px 10px 30px 10px;
  padding: 40px;
  margin-top: 20px;
  text-align: center;
  transition: transform 2s;
}

.card figcaption {
  padding-top: 2em;
}


.card:hover{
  transform: scale(1.1);
  background-color: orange;
  color: whitesmoke;
}

.portifolio i {
  color: rgb(142, 142, 142);
  font-size: 30px;

}

.contato {
  background-color: #333;
}

.redes-sociais .icon {
  text-align: center;
  line-height: 10px;
  display: grid;
  grid-gap: 1em;
}

.redes-sociais {
  text-align: center;
  background-color: #333;
  border-radius: 0 15px 15px 0;
  bottom: 20em;
  padding-bottom: 20px;
  padding-top: 20px;
  position: fixed;
  width: 3vw;
  z-index: 1;
}

.redes-sociais a{
  font-size: 2em;
}

.redes-sociais a:hover {
  color: rgb(255,255,255);
}
